@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-color: white; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}
