@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Root Variables for Theme */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Global Body Styles */
body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  width: 100%; /* Make body width flexible */
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
  background: #161221;
  overflow-x: hidden; /* Prevent horizontal scroll if overflow occurs */
}

/* Custom Utility Classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
